@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/constants.scss";

.basicInfoSection {
  background-color: $grey-primary;

  padding: 24px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  @include container;
  display: grid;

  gap: 20px;
  row-gap: 40px;

  grid-template-columns: repeat(4, 1fr);

  @media screen and (max-width: 1220px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.infoItem {
  width: 100%;
  height: 52px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $white-primary;
}

.infoItemTitle {
  font-size: 12px;
  opacity: 0.6;
}

.infoItemValue {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.24px;
}
