@import "../../../styles/colors.scss";

$gradient-border-width: 2px;

@property --spin-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.project-item {
  width: 100%;
  height: 230px;

  padding: 20px;

  border-radius: 6px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  cursor: pointer;

  background-color: $white-primary--transparent-visible;

  position: relative;

  &:hover {
    &::after {
      padding: $gradient-border-width;
    }
    &::before {
      opacity: 0.5;
    }
  }

  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 100%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    box-sizing: content-box;

    position: absolute;

    border-radius: 8px;

    background-image: conic-gradient(
      from var(--spin-angle),
      #ff4545,
      #00ff99,
      #006aff,
      #ff0095,
      #ff4545
    );
    padding: 0;

    transition: padding 0.3s;

    z-index: -1;

    animation: spin 10s linear infinite;

    @keyframes spin {
      from {
        --spin-angle: 0deg;
      }
      to {
        --spin-angle: 360deg;
      }
    }
  }

  &::before {
    filter: blur(10px);
    opacity: 0;

    transition: opacity 0.3s;
  }

  &__logo-image-wrapper {
    height: 40px;
    width: 100%;
  }

  &__logo-image {
    object-position: left;
  }

  &__project-name {
    margin-bottom: 10px;

    opacity: 0.8;

    font-size: 24px;
    font-weight: 700;
  }

  &__project-description {
    color: $grey-dark;

    font-size: 15px;
    font-weight: 400;
  }
}
