$grey-primary: #212121;
$grey-secondary: #9e9e9e;
$white-primary: #FBFBFB;

$page-background: #000000;

$tile-container__gradient: #000000;
$tile-container__bg: #000000;

$tile__border: #161616;
$tile__bg--default: #000000;
$tile__bg--red: #e26b69;
$tile__bg--orange: #fda881;
$tile__bg--yellow: #f3ca7f;
$tile__bg--green: #abdb8f;
$tile__bg--blue: #5191ce;
$tile__bg--purple: #c391e4;
