@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/constants.scss";

.skills-section {
  @include container;

  margin-top: 60px;

  &__title {
    margin-bottom: 20px;
  }

  &__categories-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  &__technology-title {
    margin-bottom: 20px;

    opacity: 0.6;

    font-family: "DM Sans";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.24px;
  }

  &__technologies-list {
    display: grid;
    grid-template-columns: repeat(6, 180px);
    gap: 20px;
  }
}
