@import "../styles/colors.scss";
@import "../styles/fonts.scss";
@import "../styles/typography.scss";
@import "../styles/reset.scss";

body {
  height: 100dvh;
  width: 100%;

  color: $white-primary;
  background-color: $page-background;
}
