@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/constants.scss";

.contactsSection {
  margin-top: 60px;
  padding-inline: 20px;
}

.container {
  @include container;
}

.subtitle {
  margin-top: 20px;

  color: $white-primary;
  opacity: 0.3;
}

.contactsList {
  margin-top: 20px;

  display: grid;
  gap: 20px;

  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
