@import "../../../styles/colors.scss";

$gradient-border-width: 3px;

@property --spin-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.contactItem {
  padding: 20px;
  border-radius: 10px;

  display: flex;
  gap: 16px;

  border: 1px solid $ui-grey-border;
  background-color: $ui-grey-primary;

  position: relative;
  box-sizing: border-box;

  position: relative;

  &:hover {
    &::after {
      padding: $gradient-border-width;
    }
    &::before {
      opacity: 0.5;
    }

    & .diagonalArrow {
      opacity: 1;
    }
  }

  &::after,
  &::before {
    content: "";
    width: 100%;
    height: 100%;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    box-sizing: content-box;

    position: absolute;

    border-radius: 12px;

    background-image: conic-gradient(
      from var(--spin-angle),
      #ff4545,
      #00ff99,
      #006aff,
      #ff0095,
      #ff4545
    );
    padding: 0;

    transition: padding 0.3s;

    z-index: -1;

    animation: spin 10s linear infinite;

    @keyframes spin {
      from {
        --spin-angle: 0deg;
      }
      to {
        --spin-angle: 360deg;
      }
    }
  }

  &::before {
    filter: blur(10px);
    opacity: 0;

    transition: opacity 0.3s;
  }
}

.imageWrapper {
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;

  background-color: $ui-grey-primary-lighter;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
}

.subtitle {
  opacity: 0.3;
  font-size: 12px;
}

.diagonalArrow {
  position: absolute;

  opacity: 0;

  top: 50%;
  right: 32px;
  transform: translateY(-50%);

  transition-duration: 0.2s;
}
