@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/constants.scss";

.projects-section {
  margin-top: 60px;
  padding-inline: 20px;

  &__container {
    @include container;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__projects-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media screen and (max-width: $desktop-max-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: $mobile-max-width) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
